.bg-img{
   background-image: url("img/pexels-valeriya-kobzar-14075662.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   width: 100%;
   height: 120vh;
   opacity: 0.9;
}

.display1 h1{
   text-align: center;
   color: white;
   margin-top: 0px;
   margin-bottom: 0px;
  font-style: oblique;
  padding-bottom: 10px;
  
}
.display1 p{
   text-align: center;
   color: white;
   margin-top: 0px;
   margin-bottom: 0px;
  font-style: oblique;
}

/* tea */
.tea img{
   width: 50px;
   height: 50px;
}
.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.tea{
   float: left;
  width: 30%;
   padding: 10px; 
  height: 300px;
  margin-right: 5px;
  background-color: rgb(145, 11, 11);}
  
  .tea hr{
   width: 60px;
   margin-left: auto;
   margin-right: auto;
}
.tea p{
    padding-left: 20px; 
   margin-top: 45px;
}
.tea h4{
   padding-left: 20px; 
   margin-top: 20px;
}
  


/* tea 1 */
.tea1 img{
   width: 50px;
   height: 50px;
}
.center1{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.tea1{
   float: left;
  width: 30%;
  padding: 10px;
  height: 300px;
  margin-right: 5px;
  background-color: rgb(83, 75, 75);
}
  .tea1 hr{
   width: 60px;
   margin-left: auto;
   margin-right: auto; 
}
.tea1 hr{
   width: 60px;
   margin-left: auto;
   margin-right: auto;
}
.tea1 p{
    padding-left: 20px; 
   margin-top: 45px;
}
.tea1 h4{
   padding-left: 20px; 
   margin-top: 20px;
}
/* tea 2 */
.tea2 img{
   width: 50px;
   height: 50px;
}
.center2{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.tea2{
   float: left;
  width: 33%;
  padding: 10px;
  height: 300px;
  margin-right: 5px;
  background-color: rgb(167, 95, 95);
  
}
.tea2 hr{
   width: 60px;
   margin-left: auto;
   margin-right: auto;
}
.tea2 hr{
   width: 60px;
   margin-left: auto;
   margin-right: auto;
}
.tea2 p{
    padding-left: 20px; 
   margin-top: 45px;
}
.tea2 h4{
   padding-left: 20px; 
   margin-top: 20px;
}
/* row */

